{% load mytags %}
{% load dajaxice_templatetags %}
{% if user.is_authenticated %}
<!doctype html>
<html>
    <head>
      {% include 'common/__base_head.html' %}
    </head>
    {% block body_block %}
    <body onload="initialize()">
    {% endblock %}
        <nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          {% include 'common/__base_navbar_header.html' %}
          <div class="collapse navbar-collapse navbar-collapse-top">
            <div class="navbar-right">
              <!-- User dropdown -->
                <div class="userauth">
                  {% if user.is_authenticated %}
                      <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle dropdown-avatar" data-toggle="dropdown">
                          <span>
                            <img class="menu-avatar" src="/static/profile_images/gc.jpg" />
                              <span>{% user_name user %} <i class="icon-caret-down"></i></span>
                            <span class="badge badge-dark-red">5</span>
                          </span>
                          </a>
                          <ul class="dropdown-menu">
                            <!-- the first element is the one with the big avatar, add a with-image class to it -->
                            <li class="with-image">
                              <div class="avatar">
                                <img src="/static/profile_images/gc.jpg" />
                              </div>
                              <span>{{ user }}</span>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="icon-user"></i> <span>Profile</span></a></li>
                            <li><a href="#"><i class="icon-cog"></i> <span>Settings</span></a></li>
                            <li><a href="#"><i class="icon-envelope"></i> <span>Messages</span> <span class="label label-dark-red pull-right">5</span></a></li>
                            <li><a href="/common/logout2"><i class="icon-off"></i> <span>Logout</span></a></li>
                          </ul>
                        </li>
                      </ul>
                 {% endif %}
                </div>
            </div>
          </div><!-- /.navbar-collapse -->
        </nav>
    <div class="sidebar-background">
      <div class="primary-sidebar-background"></div>
    </div> <!-- sidebar-background -->
        {% include 'common/__primary_sidebar.html' %}
    <div class="main-content">
        {% block base_header %}
            Header Block Here.
        {% endblock %}
        {% block base_content %}
            Empty Page - Block Content Here
        {% endblock %}
    </div> <!-- main-content -->
    </body>
</html>

{% else %}
    {% show_login request %}
{% endif %}

