<div class="navbar-header">
  {% load staticfiles %}
    <img src="{{ STATIC_URL }}media/website_logo_sm.png"  alt="Liberty Logo"/>
    <a class="navbar-brand" href="#">LibertyNET</a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-primary">
      <span class="sr-only">Toggle Side Navigation</span>
      <i class="icon-th-list"></i>
    </button>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-top">
      <span class="sr-only">Toggle Top Navigation</span>
      <i class="icon-align-justify"></i>
    </button>
</div>