{% comment %}
  Two context objects are required to be passed in. A list of CallLog obj and Calllog with follow_up==True
{% endcomment %}
<div class="box">
    <div class="box-header">
        <span class="title">
            {{ name_of }} Call Log
        </span>
        <!-- detail boxes for hearder -->
        <ul class="box-toolbar">
            <li>
                <a href="#" class="tip" title data-original-title="Calls requiring follow up">
                {% if context %}
                    <span class="label label-red">
                        {{ context1|length }}
                    </span>
                {% endif %}
                </a>
            </li>
            <li>
                <a href="#" class="tip" title data-original-title="Total Calls">
                {% if context %}
                    <span class="label label-green">
                        {{ context|length }}
                    </span>
                {% endif %}
                </a>
            </li>
            <li>
              <div class="btn-group">
                <button class="btn btn-xs btn-default dropdown-toggle"
                        data-toggle="dropdown"><i class="fa fa-cog"></i></button>
                <ul class="dropdown-menu">
                  <li>
                      <a href="{{ client_detail.get_absolute_url_calllog }}">
                          Add Call Log
                      </a>
                  </li>
                </ul>
              </div>
            </li>
        </ul>
    </div> <!-- box-header -->
    <div class="box-content scrollable" style="height: 280px; overflow-y: auto">
        <!-- loop through calls -->
        {% if context %}
            {% for c in context %}
                <div class="box-section news with-icons">
                    {% if c.requires_follow_up == False %}
                        <div class="avatar green">
                            <!-- icon based on call status -->
                            <i class="icon-ok icon-2x"></i>
                        </div>
                    {% else %}
                        <div class="avatar cyan">
                            <!-- icon based on call status -->
                            <i class="icon-mobile-phone icon-2x"></i>
                        </div>
                    {% endif %}
                    <div class="news-time">
                        <p>{{ c.call_date }}</p>
                        <p>{{ c.call_time }}</p>
                    </div>
                    <div class="news-content">
                        <div class="news-title">
                            <a href="{{ c.get_absolute_url }}">{{ c.purpose }}</a>
                        </div>
                        <div class="news-text">
                           {{ c.notes }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div> <!-- box-content scrollable -->
</div> <!-- box -->