{% extends 'common/__login_signup.html' %}
    {% block body_block %}
    <body>
    {% endblock %}
      {% block base_header_title %}
        LibertyNET Employee Signup
      {% endblock base_header_title %}
      {% block base_content %}
        {% if registered %}
            <strong>Thank you for signing up!</strong>
            <a href="#">Return to homepage</a>
        {% else %}
            <form id="user_form" method="post" action=""
                  enctype="multipart/form-data" class="separate-sections">
                {% csrf_token %}

                {% for f in form1 %}
                    <div class="input-group addon-left">
                    <span class="input-group-addon" href="#">
                        <i class="icon-pencil"></i> ​
                    </span>
                    {{ f }}
                </div>
                {% endfor %}
                <div>
                    {{ form0.errors }}
                </div>
                <div class="input-group addon-left">
                    <span class="input-group-addon" href="#">
                        <i class="icon-user"></i>​
                    </span>
                    {{ form0.username}}
                </div>
                <div class="input-group addon-left">
                    <span class="input-group-addon" href="#">
                        <i class="icon-envelope-alt"></i>​
                    </span>
                    {{ form0.email}}
                </div>
                <div class="input-group addon-left">
                    <span class="input-group-addon" href="#">
                        <i class="icon-key"></i>
                    </span>
                    {{ form0.password }}
                </div>
                <script>
                    function checkPasswordMatch() {
                        var password = $("#id_password").val();
                        var confirmPassword = $("#id_password2").val();
                        var pLength = password.length;
                        var cpLength = confirmPassword.length;

                        if (pLength > 1 && cpLength > 1) {
                            if (password != confirmPassword )
                            $("#divCheckPasswordMatch").html("Passwords do not match!");
                            else
                            $("#divCheckPasswordMatch").html("Passwords match.");
                        }
                    }
                    $(document).ready(function () {
                       $("#id_password2").keyup(checkPasswordMatch);
                    });
                </script>
                <div class="input-group addon-left">
                    <span class="input-group-addon" href="#">
                        <i class="icon-key"></i>
                    </span>
                    <input type="password" placeholder="Confirm Password" id="id_password2"
                            onChange="checkPasswordMatch();" />​
                </div>
                    <div class="registrationFormAlert" id="divCheckPasswordMatch">
                </div>
                <div class="form-actions" xmlns="http://www.w3.org/1999/html">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" type="button" value="Register"
                                       class="btn btn-md btn-blue"/>
                            </div>
                            <div class="col-md-6">
                                <input action="action" type="button" class="btn btn-md btn-red"
                                       value="Cancel" onclick="history.go(-1);" />
                            </div>
                        </div>
                    </div>
                </div> <!-- form-actions -->
            </form>
            <div>
              <a href="/common/login/">
                  Already have an account? <strong>Sign In</strong>
              </a>
            </div>
        {% endif %}
      {% endblock base_content %}
