{% load humanize %}
<div class="box">
  <div class="box-header">
    <span class="title"><i class="fa fa-group"></i>
        Employee Information
    </span>
    <ul class="box-toolbar">
        <li>
          <div class="btn-group">
            <button class="btn btn-xs btn-default dropdown-toggle"
                    data-toggle="dropdown"><i class="fa fa-cog"></i></button>
            <ul class="dropdown-menu">
              <li><a href="{{ employee_detail.get_absolute_url_edit }}">Edit Employee Details</a></li>
            </ul>
          </div>
        </li>
    </ul>
  </div> <!-- box-header -->
  <div class="box-content scrollable" style="height: 360px; overflow-y: auto">
      <div class="box-content padded" >
          <strong>Employee Number</strong>
              <li>
                  {{ employee_detail.emp_number }}
              </li>
          <strong>Employee Name</strong>
              <li>
                  {{ employee_detail.get_full_name }}
              </li>
              <strong>
                  Employee Titles -- Use template tag to handle plural
              </strong>
              <li>
                  {% for q in title_detail %}
                    {{ q }}
                  {% endfor %}
              </li>

          <strong>Employee Address</strong>
              <address>
                  {{ address_detail.street }}
                  <br />
                  {% if address_detail.unit|length  != 0 %}
                      {{ address_detail.unit }}
                  <br/>
                  {% endif %}
                  {{ address_detail.city }},
                  {{ address_detail.state }}
                  <br />
                  {{ address_detail.zip_code }}
              </address>
          <strong>Contact Information</strong>
              {% if contact_detail.phone %}
              <li>
                  <abbr title="phone">[h]</abbr> {{ contact_detail.phone_extension_helper }}
              </li>
              {% endif %}
              {% if contact_detail.office_phone %}
              <li>
                  <abbr title="phone">[o]</abbr> {{ contact_detail.office_phone_extension_helper }}
              </li>
              {% endif %}
              {% if contact_detail.cell %}
              <li>
                  <abbr title="phone">[m]</abbr> {{ contact_detail.cell_helper }}
              </li>
              {% endif %}
              <li>
                  [e] <a href="mailto:#">{{ contact_detail.email }}</a>
              </li>
          <strong>Employee Since</strong>
              <li>
                  {{ employee_detail.hire_date|naturalday }}
              </li>
          <strong>Time as Employee</strong>
                  {{ employee_detail.hire_date|date:"d M Y"|naturalday }}

          <p>Salary INFO -- View model for more details</p>
      </div>
  </div> <!-- box-content scrollable -->
</div> <!-- box -->