{% load humanize %}
<div class="box">
  <div class="box-header">
    <span class="title"><i class="fa fa-group"></i>
        Employee Information
    </span>
    <ul class="box-toolbar">
        <li>
          <div class="btn-group">
            <button class="btn btn-xs btn-default dropdown-toggle"
                    data-toggle="dropdown"><i class="fa fa-cog"></i></button>
            <ul class="dropdown-menu">
              <li><a href="{{ employee_detail.get_absolute_url_edit }}">Edit Employee Details</a></li>
            </ul>
          </div>
        </li>
    </ul>
  </div> <!-- box-header -->
  <div class="box-content scrollable" style="height: 360px; overflow-y: auto">
      <div class="box-content padded" >
          <h5>Employee Information</h5>
          <dl>
              <dt>Employee Name</dt>
                  <dd>
                      {{ employee_detail.get_full_name }}
                  </dd>
              <dt>Employee Number</dt>
                  <dd>
                      {{ employee_detail.emp_number }}
                  </dd>
              <dt>Employee Status</dt>
                  <dd>
                      {% if employee_detail.is_terminated %}
                        <p class="text-warning">
                         {{ employee_detail.get_employee_status }}
                        </p>
                      {% else %}
                        <p class="text-success">
                         {{ employee_detail.get_employee_status }}
                        </p>
                      {% endif %}
                  </dd>
                  <dt>
                      Employee Title{{ title_detail|pluralize }}
                  </dt>
                  <dd>
                      {% for q in title_detail %}
                        {{ q }}
                      {% endfor %}
                  </dd>
    
              <h5>Employment Information</h5>
                {% if employee_detail.is_terminated %}
                    <dt>Termination Date</dt>
                        <dd>
                            {{ employee_detail.termination_date }}
                        </dd>
                    <dt>Termination Reason</dt>
                        <dd>
                            {{ employee_detail.termination_reason }}
                        </dd>
                {% endif %}
              <dt>Employee Since</dt>
                <dd>
                  {{ employee_detail.hire_date }}
                </dd>
              <dt>Time as Employee</dt>
                <dd>
                  {{ employee_detail.hire_date|timesince }}
                </dd>
              {# compensation #}
              <h5>Salary Info</h5>
                  <dt>Pay Type</dt>
                <dd>
                  {{ employee_detail.get_pay_type }}
                <dd/>
                  <dt>Pay Rate</dt>
                <dd>
                  ${{ employee_detail.pay_rate }}
                <dd/>
          </dl>
          <h5>Employee Address</h5>
            {% include 'common/__address_info.html' with address_detail=address_detail %}
          <h5>Contact Information</h5>
            {% include 'common/__contact_info.html' with contact_detail=contact_detail %}
      </div>
  </div> <!-- box-content scrollable -->
</div> <!-- box -->