{% extends 'common/__form_base.html' %}
{% load mytags %}

{% block body_block %}
<body onload="initialize()" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block form_header %}
{% include "common/mainheader_nograph.html" with icon="fa fa-group" title="Add Sales Prospect" subtitle="Add Sales Prospect Information" %}
{% endblock %}

{% block form_breadcrumb %}
<div class="container padded">
    <div class="row">
      <div id="breadcrumbs">
        <div class="breadcrumb-button blue">
          <span class="breadcrumb-label"><i class="icon-home"></i> Home</span>
          <span class="breadcrumb-arrow"><span></span></span>
        </div>
        <div class="breadcrumb-button">
          <span class="breadcrumb-label">
            <i class="fa fa-group"></i>
              <a href="{% url 'Client:salesprospectindex' %}">Sales Home</a>
          </span>
          <span class="breadcrumb-arrow"><span></span></span>
        </div>
        <div class="breadcrumb-button">
            <span class="breadcrumb-label">
                <i class="fa fa-plus-square"></i>
                Add Sales Prospect
            </span>
        </div>
      </div>
    </div>
</div> <!-- container padded -->
{% endblock form_breadcrumb %}

{% block h4_block %}Add Client{% endblock h4_block %}
{% block form_content %}
 {% for i in form0 %}
    <li class="input">
      <label>{{ i.label|title|cut:"_" }}</label>
        {% if i.name == "sp_liberty_contact" or i.name == "sales_probability" %}
            {{ i|addcss:"form-control" }}
        {% else %}
            {{ i }}
        {% endif %}
    </li>
    {% endfor %}
    <!-- end Client Info -->
    <label>Address Information:</label>
    <div id="locationField">
        <input id="autocomplete" placeholder="Enter address"
        onFocus="geolocate()" type="text" />
    </div>
    {% for i in form1 %}
    <li>
        <label>{{ i.label|title|cut:"_" }}</label>
        {% if i.name == "state" %}
            {{ i|addcss:"form-control" }}
        {% else %}
            {{ i }}
        {% endif %}
    </li>
    {% endfor %}
    <!-- end Address Info -->
    <label>Contact Information:</label>
    {{ form2 }}
{% endblock %}

{% comment %}
{% extends 'base.html' %}
{% block body_block %}
    <body onload="initialize()">
{% endblock %}
{% load bootstrap_toolkit %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{{ STATIC_URL }}js/show_div_checkbox.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/show_contact_div.js"></script>
        <form action="" method="post">
        {% csrf_token %}
        <p>Sales Prospect Information:</p>
        {{ form0 }}
        {% block address %}
        <tr><th>
            <label>Select to enter contact address</label>
        </th><td>
            <input type="checkbox" name="showaddress" id="showaddress"
            onclick="fnchecked(this.checked);" value="show">
        </td></tr>
        <br />
        <div id="address" style="display:none">
        <p>Address Information:</p>
            <div id="locationField">
                <input id="autocomplete" placeholder="Enter address"
                onFocus="geolocate()" type="text" />
            </div>
            {{ form1 }}
        </div>
        {% endblock %}
        {% block contact %}
        <tr><th>
            <label>Select to enter Contact Information</label>
        </th><td>
            <input type="checkbox" name="showcontact" id="showcontact"
            onclick="fnchecked1(this.checked);" value="show">
        </td></tr>
        <br />
        <div id="contact" style="display:none">
        <p>Contact Information:</p>
        {{ form2 }}
        {% endblock %}
        <div class="form-actions">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>
{% endblock %}
    {% endcomment %}