{% extends '__basewrap.html' %}
{% load mytags %}
{% block body_block %}
    <body onload="initialize()">
{% endblock %}
{% block base_header %}
{% include "mainheader_nograph.html" with icon="fa fa-group" title="Client Call Log Index" subtitle="List of Call for Client" %}
{% endblock %}

{% block base_content %}
            <!-- breadcrumb -->
<div class="container padded">
    <div class="row">
      <div id="breadcrumbs">
        <div class="breadcrumb-button blue">
          <span class="breadcrumb-label"><i class="icon-home"></i> Home</span>
          <span class="breadcrumb-arrow"><span></span></span>
        </div>
        <div class="breadcrumb-button">
          <span class="breadcrumb-label">
            <i class="fa fa-group"></i>
              <a href="/client/index/">Client Home</a>
          </span>
          <span class="breadcrumb-arrow"><span></span></span>
        </div>
        <div class="breadcrumb-button">
            <span class="breadcrumb-label">
                <i class="fa fa-phone"></i>
                Add Call Log
            </span>
        </div>
      </div>
    </div>
</div> <!-- container padded -->
<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="box">
              <div class="box-header"><span class="title">Clients</span></div>
                  <div class="box-content">
                    <div id="dataTables">
                        <table cellpadding="0" cellspacing="0" border="0" class="dTable responsive">
                            <thead>
                                <tr>
                                  <th><div>Client ID</div></th>
                                  <th><div>Client Name</div></th>
                                  <th><div>Action</div></th>
                                </tr>
                            </thead>
                        <tbody role="alert" aria-live="polite" aria-relavent="all">
                        {% for e in calllog_list %}
                        <tr>
                          <td>{{ e.client_id }}</td>
                          <td class="sorting_1">{{ e.call_date }}</td>
                          <td>
                              <ul>
                                <div class="btn-group dropup">
                                    <button class="btn btn-xs btn-default dropdown-toggle"
                                        data-toggle="dropdown"><i class="fa fa-cog"></i></button>
                                    <ul class="dropdown-menu">
                                      <li><a href="{{ e.get_absolute_url }}">Call Details</a></li>
                                      <li><a href="{{ e.get_absolute_url_client }}">Client Details</a></li>
                                    </ul>
                                </div>
                              </ul>
                          </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div> <!-- dataTables -->
                  </div> <!-- box-content -->
              </div> <!-- box-header -->
            </div> <!-- box -->
        </div> <!-- row -->
    </div> <!-- col-md-12 -->
</div> <!-- container -->

{% endblock %}