{% extends 'wrap_base.html' %}
{% block content %}
<!-- Header for container -->
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="area-top clearfix">
        <div class="pull-left header">
          <h3 class="title">
            <i class="icon-group"></i>
            Client Details
          </h3>
          <h5>
            <span>
              Detailed Client Information
            </span>
          </h5>
        </div>
        <ul class="list-inline pull-right sparkline-box">
          <li class="sparkline-row">
            <h4 class="blue"><span>Follow Ups</span> {{ calllog_follow|length }} </h4>
          </li>
          <li class="sparkline-row">
            <h4 class="blue"><span>Systems</span> 1 </h4>
          </li>
          <li class="sparkline-row">
            <h4 class="green"><span>Sites</span> {{ site_detail|length }} </h4>
          </li>
          <li class="sparkline-row">
            <h4 class="red"><span>Invoices</span> 7</h4>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Breadcrumb line -->
  <div class="container padded">
    <div class="row">
      <div id="breadcrumbs">
        <div class="breadcrumb-button blue">
          <span class="breadcrumb-label"><i class="icon-home"></i> Home</span>
          <span class="breadcrumb-arrow"><span></span></span>
        </div>
            <div class="breadcrumb-button">
              <span class="breadcrumb-label">
                <i class="fa fa-group"></i>
                  <a href="/client/index/">Client Home</a>
              </span>
              <span class="breadcrumb-arrow"><span></span></span>
            </div>
            <div class="breadcrumb-button">
                <span class="breadcrumb-label">
                    <i class="icon-th-large"></i>
                    Client Details
                </span>
            </div>
      </div>
    </div>
  </div>

  <!-- Main content -->
  <div class="container">
      <!-- 1st row   -->
      <div class="row">
          <div class="col-md-6">
              <div class="box">
                  <div class="box-header">
                    <span class="title"><i class="fa fa-group"></i>
                        Client Information
                    </span>
                    <ul class="box-toolbar">
                        <li>
                          <div class="btn-group">
                            <button class="btn btn-xs btn-default dropdown-toggle"
                                    data-toggle="dropdown"><i class="fa fa-cog"></i></button>
                            <ul class="dropdown-menu">
                              <li><a href="{{ client_detail.get_absolute_url_edit }}">Edit Details</a></li>
                            </ul>
                          </div>
                        </li>
                    </ul>
                  </div> <!-- box-header -->
                  <div class="box-content scrollable" style="height: 360px; overflow-y: auto">
                      <div class="box-content padded" >
                          <strong>Client Number</strong>
                              <li>
                                  {{ client_detail.client_number }}
                              </li>
                          <strong>Client Name</strong>
                              <li>
                                  {{ client_detail.get_full_name }}
                              </li>
                          {% if client_detail.is_a_business == True %}
                              <strong>
                                  Business Name
                              </strong>
                              <li>
                                  {{ client_detail.business_name }}
                              </li>
                          {% endif %}
                          <strong>Client Address</strong>
                              <address>
                                  {{ address_detail.street }}
                                  <br />
                                  {% if address_detail.unit|length  != 0 %}
                                      {{ address_detail.unit }}
                                  <br/>
                                  {% endif %}
                                  {{ address_detail.city }},
                                  {{ address_detail.state }}
                                  <br />
                                  {{ address_detail.zip_code }}
                              </address>
                          <strong>Contact Information</strong>
                              {% if contact_detail.phone %}
                              <li>
                                  <abbr title="phone">[h]</abbr> {{ contact_detail.phone_extension_helper }}
                              </li>
                              {% endif %}
                              {% if contact_detail.office_phone %}
                              <li>
                                  <abbr title="phone">[o]</abbr> {{ contact_detail.office_phone_extension_helper }}
                              </li>
                              {% endif %}
                              {% if contact_detail.cell %}
                              <li>
                                  <abbr title="phone">[m]</abbr> {{ contact_detail.cell_helper }}
                              </li>
                              {% endif %}
                              <li>
                                  [e] <a href="mailto:#">{{ contact_detail.email }}</a>
                              </li>
                          <strong>Client Since</strong>
                              <li>
                                  {{ client_detail.client_date }}
                              </li>
                      </div>
                  </div> <!-- box-content scrollable -->
              </div>
          </div>

          <!-- second column -->
          <div class="col-md-6">
              <!-- Alarm/Camera -->
              <div class="row">
                  <div class="col-md-12">
                      <div class="box">
                          <div class="box-header">
                              <span class="title">
                                  <i class="fa fa-sitemap"></i>
                                  Alarm/Camera Systems
                              </span>
                              <ul class="box-toolbar">
                                <li>
                                  <div class="btn-group">
                                    <button class="btn btn-xs btn-default dropdown-toggle"
                                            data-toggle="dropdown"><i class="fa fa-cog"></i></button>
                                    <ul class="dropdown-menu">
                                      <li><a href="{{ e.get_absolute_url_edit }}">Add System</a></li>
                                    </ul>
                                  </div>
                                </li>
                              </ul>
                          </div>
                          <div class="box-content scrollable" style="height: 80px; overflow-y: auto">
                              <div class="box-content">
                                  <table class="table table-normal">
                                      <tbody>
                                          <tr>
                                              <td>
                                                  camera name
                                              </td>
                                              <td>
                                                  camera type
                                              </td>
                                          </tr>
                                         <tr>
                                              <td>
                                                  camera name
                                              </td>
                                              <td>
                                                  camera type
                                              </td>
                                          </tr>
                                         <tr>
                                              <td>
                                                  camera name
                                              </td>
                                              <td>
                                                  camera type
                                              </td>
                                          </tr>
                                         <tr>
                                              <td>
                                                  camera name
                                              </td>
                                              <td>
                                                  camera type
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div> <!-- cut  -->
                  </div>
              </div>
              <!-- Camera Systems -->
              <div class="row">
                  <div class="col-md-12">
                      <div class="box">
                          <div class="box-header">
                              <span class="title">
                                  <i class="fa fa-video-camera"></i>
                                  Camera Systems
                              </span>
                              <ul class="box-toolbar">
                                <li>
                                  <div class="btn-group">
                                    <button class="btn btn-xs btn-default dropdown-toggle"
                                            data-toggle="dropdown"><i class="fa fa-cog"></i></button>
                                    <ul class="dropdown-menu">
                                      <li><a href="{{ e.get_absolute_url_edit }}">Add Camera</a></li>
                                    </ul>
                                  </div>
                                </li>
                              </ul>
                          </div>
                          <div class="box-content scrollable" style="height: 80px; overflow-y: auto">
                              <div class="box-content">
                                  <table class="table table-normal">
                                      <tbody>
                                          <tr>
                                              <td>
                                                  camera name
                                              </td>
                                              <td>
                                                  camera type
                                              </td>
                                          </tr>
                                          <tr>
                                              <td>
                                                  camera name
                                              </td>
                                              <td>
                                                  camera type
                                              </td>
                                          </tr>
                                          <tr>
                                              <td>
                                                  camera name
                                              </td>
                                              <td>
                                                  camera type
                                              </td>
                                          </tr>
                                          <tr>
                                              <td>
                                                  camera name
                                              </td>
                                              <td>
                                                  camera type
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Sites -->
              <div class="row">
                  <div class="col-md-12">
                      <div class="box">
                          <div class="box-header">
                              <span class="title">
                                  <i class="fa fa-compass"></i>
                                  Sites
                              </span>
                              <ul class="box-toolbar">
                                <li>
                                  <div class="btn-group">
                                    <button class="btn btn-xs btn-default dropdown-toggle"
                                            data-toggle="dropdown"><i class="fa fa-cog"></i></button>
                                    <ul class="dropdown-menu">
                                      <li><a href="{{ client_detail.get_absolute_url_add_site }}">Add Client Site</a></li>
                                    </ul>
                                  </div>
                                </li>
                              </ul>
                          </div>
                          <div class="box-content scrollable" style="height: 80px; overflow-y: auto">
                              <div class="box-content">
                                  <table class="table table-normal">
                                      <tbody>
                                          {% if site_detail %}
                                              {% for s in site_detail %}
                                              <tr>
                                                  <td>
                                                      {{ s.site_client }}
                                                  </td>
                                                  <td>
                                                      <a href="{{ s.get_absolute_url }}">
                                                        {{ s.get_site_name }}
                                                      </a>
                                                  </td>
                                                  <td>
                                                      {{ s.top_calllist }}
                                                  </td>
                                              </tr>
                                              {% endfor %}
                                          {% endif %}
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div> <!-- end first container row -->

      <!-- 2nd row Left Column -->
      <div class="row">
          <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <span class="title">
                        Call Log
                    </span>
                    <!-- number of calls of some importance total calls for now-->
                    <ul class="box-toolbar">
                        <li>
                            <a href="#" class="tip" title data-original-title="Calls requiring follow up">
                            {% if calllog_list %}
                                <span class="label label-red">
                                    {{ calllog_follow|length }}
                                </span>
                            {% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tip" title data-original-title="Total Calls">
                            {% if calllog_list %}
                                <span class="label label-green">
                                    {{ calllog_list|length }}
                                </span>
                            {% endif %}
                            </a>
                        </li>
                    </ul>
                    <ul class="box-toolbar">
                        <li>
                          <div class="btn-group">
                            <button class="btn btn-xs btn-default dropdown-toggle"
                                    data-toggle="dropdown"><i class="fa fa-cog"></i></button>
                            <ul class="dropdown-menu">
                              <li>
                                  <a href="{{ client_detail.get_absolute_url_calllog }}">
                                      Add Call Log
                                  </a>
                              </li>
                            </ul>
                          </div>
                        </li>
                    </ul>
                </div> <!-- box-header -->
                <div class="box-content scrollable" style="height: 280px; overflow-y: auto">
                    <!-- loop through calls -->
                    {% if calllog_list %}
                        {% for c in calllog_list %}
                            <div class="box-section news with-icons">
                                {% if c.requires_follow_up == False %}
                                    <div class="avatar green">
                                        <!-- icon based on call status -->
                                        <i class="icon-ok icon-2x"></i>
                                    </div>
                                {% else %}
                                    <div class="avatar cyan">
                                        <!-- icon based on call status -->
                                        <i class="icon-mobile-phone icon-2x"></i>
                                    </div>
                                {% endif %}
                                <div class="news-time">
                                    <p>{{ c.call_date }}</p>
                                    <p>{{ c.call_time }}</p>
                                </div>
                                <div class="news-content">
                                    <div class="news-title">
                                        <a href="{{ c.get_absolute_url }}">{{ c.purpose }}</a>
                                    </div>
                                    <div class="news-text">
                                       {{ c.notes }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div> <!-- box-content scrollable -->
            </div>
          </div>
          <!-- Right Column 2nd Row -->
          <div class="col-md-6">
              <div class="row">
                  <div class="col-md-12">
                      <div class="box">
                          <div class="box-header">
                              <span class="title">
                                  <i class="fa fa-file"></i>
                                  Invoices
                              </span>
                              <ul class="box-toolbar">
                                <li>
                                  <div class="btn-group">
                                    <button class="btn btn-xs btn-default dropdown-toggle"
                                            data-toggle="dropdown"><i class="fa fa-cog"></i></button>
                                    <ul class="dropdown-menu">
                                      <li><a href="{{ e.get_absolute_url_edit }}">Add Invoice</a></li>
                                    </ul>
                                  </div>
                                </li>
                              </ul>
                          </div>
                          <div class="box-content scrollable" style="height: 110px; overflow-y: auto">
                              <div class="box-content">
                                  <table class="table table-normal">
                                      <tbody>
                                          <tr>
                                              <td>
                                                  camera name
                                              </td>
                                              <td>
                                                  camera type
                                              </td>
                                          </tr>
                                         <tr>
                                              <td>
                                                  camera name
                                              </td>
                                              <td>
                                                  camera type
                                              </td>
                                          </tr>
                                         <tr>
                                              <td>
                                                  camera name
                                              </td>
                                              <td>
                                                  camera type
                                              </td>
                                          </tr>
                                         <tr>
                                              <td>
                                                  camera name
                                              </td>
                                              <td>
                                                  camera type
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <div class="box">
                          <div class="box-header">
                              <span class="title">
                                  <i class="fa fa-credit-card"></i>
                                  Billing Profiles
                              </span>
                              <ul class="box-toolbar">
                                <li>
                                  <div class="btn-group">
                                    <button class="btn btn-xs btn-default dropdown-toggle"
                                            data-toggle="dropdown"><i class="fa fa-cog"></i></button>
                                    <ul class="dropdown-menu">
                                      <li><a href="{{ e.get_absolute_url_edit }}">Add Billing Profile</a></li>
                                    </ul>
                                  </div>
                                </li>
                              </ul>
                          </div>
                          <div class="box-content scrollable" style="height: 110px; overflow-y: auto">
                              <div class="box-content">
                                  <table class="table table-normal">
                                      <tbody>

                                            {% for b in billing_detail %}
                                                <tr>
                                                    <td>
                                                        Profile Name:
                                                    </td>
                                                    <td>
                                                        <a href="b.get_absolute_url_edit">
                                                            {{ b }}
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
      </div>
      <!-- 3rd row -->
      <div class="row">
      </div>
  </div>
</div>
</div>
{% endblock %}