{% extends 'wrap_base.html' %}
{% block content %}
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="area-top clearfix">
        <div class="pull-left header">
          <h3 class="title">
            <i class="icon-group"></i>
            Client Homepage
          </h3>
          <h5>
            <span>
              A subtitle can go here
            </span>
          </h5>
        </div>
        <ul class="list-inline pull-right sparkline-box">
          <li class="sparkline-row">
            <h4 class="blue"><span>Clients</span> {{ all_client_list|length }} </h4>
            <div class="sparkline big" data-color="blue"><!--1,2,3,1--></div>
          </li>
          <li class="sparkline-row">
            <h4 class="green"><span>New Clients</span> {{ most_recent|length }}</h4>
            <div class="sparkline big" data-color="green"><!--1,2,1,0--></div>
          </li>
          <li class="sparkline-row">
            <h4 class="red"><span>New Leads</span> 7</h4>
            <div class="sparkline big"><!--3,19,3,9,7--></div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Breadcrumb line -->
  <div class="container padded">
    <div class="row">
      <div id="breadcrumbs">
        <div class="breadcrumb-button blue">
          <span class="breadcrumb-label"><i class="icon-home"></i> Home</span>
          <span class="breadcrumb-arrow"><span></span></span>
        </div>
            <div class="breadcrumb-button">
              <span class="breadcrumb-label">
                <i class="fa fa-group"></i> Client Home
              </span>
              <span class="breadcrumb-arrow"><span></span></span>
            </div>
      </div>
    </div>
  </div>

  <!-- Button -->
  <div class="container">
  <div class="action-nav-normal action-nav-line">
     <div class="row action-nav-row">
        <div class="col-sm-2 action-nav-button">
          <a href="{% url 'Client:addclient_wrap' %}" title="Add Client">
            <i class="icon-file-alt"></i>
            <span>Add Client</span>
          </a>
          <span class="triangle-button red"><i class="icon-plus"></i></span>
        </div>
      <div class="col-sm-2 action-nav-button">
          <a href="{% url 'Client:addclient' %}" title="Add Call">
            <i class="fa fa-phone-square"></i>
            <span>Add Call</span>
          </a>
          <span class="triangle-button red"><i class="icon-plus"></i></span>
      </div>
      <div class="col-sm-2 action-nav-button">
      <a href="#" title="Messages">
        <i class="icon-comments-alt"></i>
        <span>Client Calls</span>
      </a>
      <span class="label label-black">14</span>
    </div>
  </div>
  <!-- Tables -->
  {% if all_client_list %}
    <div class="row">
      <div class="col-md-12">
      <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            All Clients
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner padded">
            <div class="box">
              <div class="box-header"><span class="title">Clients</span></div>
                  <div class="box-content">
                        <div id="dataTables">
                        <table cellpadding="0" cellspacing="0" border="0" class="dTable responsive">
                        <thead>
                        <tr>
                          <th><div>Client ID</div></th>
                          <th><div>Client Name</div></th>
                          <th><div>Action</div></th>
                        </tr>
                        </thead>
                            <tbody role="alert" aria-live="polite" aria-relavent="all">
                            {% for e in all_client_list %}
                                <tr>
                                  <td class="sorting_1">{{e.client_number}}</td>
                                  <td>{{e.first_name}} {{e.last_name}}</td>
                                  <td>
                                      <div class="btn-group">
                                        <button class="btn btn-xs btn-default dropdown-toggle"
                                                data-toggle="dropdown"><i class="fa fa-cog"></i></button>
                                        <ul class="dropdown-menu">
                                          <li><a href="{{ e.get_absolute_url }}">Client Details</a></li>
                                          <li><a href="{{ billing_detail.get_absolute_url_edit }}">Billing Info</a></li>
                                          <li><a href="{{ site_detail.get_absolute_url }}">Site Details</a></li>
                                          <li><a href="{{ client_detail.get_absolute_url_calllog }}">Call Log</a></li>
                                          <li class="divider"></li>
                                          <li><a href="#">Separated link</a></li>
                                        </ul>
                                      </div>
                                  </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </div>
                  </div>
              </div>
            </div>
        </div>

        </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                10 Most Recent
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner padded">
                <div class="box">
              <div class="box-header"><span class="title">Clients</span></div>
                  <div class="box-content">
                        <div id="dataTables">
                        <table cellpadding="0" cellspacing="0" border="0" class="dTable responsive">
                        <thead>
                        <tr>
                          <th><div>Client ID</div></th>
                          <th><div>Client Name</div></th>
                          <th><div>Action</div></th>
                        </tr>
                        </thead>
                        <tbody role="alert" aria-live="polite" aria-relavent="all">
                        {% for e in most_recent %}
                        <tr>
                          <td class="sorting_1">{{e.client_number}}</td>
                          <td>{{e.first_name}} {{e.last_name}}</td>
                          <td>
                              <ul>
                                  <li>
                          <div class="btn-group">
                                <button class="btn btn-xs btn-default dropdown-toggle"
                                        data-toggle="dropdown"><i class="fa fa-cog"></i></button>
                                <ul class="dropdown-menu">
                                  <li><a href="{{ e.get_absolute_url }}">Client Details</a></li>
                                  <li><a href="{{ billing_detail.get_absolute_url_edit }}">Billing Info</a></li>
                                  <li><a href="{{ site_detail.get_absolute_url }}">Site Details</a></li>
                                  <li><a href="{{ client_detail.get_absolute_url_calllog }}">Call Log</a></li>
                                  <li class="divider"></li>
                                  <li><a href="#">Separated link</a></li>
                                </ul>
                              </div>
                                  </li>
                                  </ul>
                          </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                        </div>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                Clients Requiring Follow Up
              </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="accordion-inner padded">
                Clients who need follow up
              </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>      <!-- main-content -->
</div>
{% endif %}
{% endblock %}

