{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% block content %}
<p>Welcome to the Liberty Security Services Client Management site.</p>
<p>Please select an option from the following choices or go back to the home page.</p>
{% if calllog %}
        <ul>
            {% for e in calllog %}
            <li>
                <a href="{{ e.get_absolute_url }}">
                    {{ e.complete_details  }}
                </a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
     <p>No Clients are available.</p>
{% endif %}
{% endblock %}

{% comment %}
         <a href="{% url 'Client:details' e.id %}">
                {{e.first_name}} {{e.last_name}}
         </a>
{% endcomment %}