{% extends 'base.html' %}
{% load bootstrap_toolkit %}

{% block content %}
<a href="{% url 'Client:salesprospectindex' %}">
    Sales Home
</a> &nbsp;/&nbsp;
{% if sales_prospect_detail %}
    <a href="{{ sales_prospect_detail.get_absolute_url_edit }}">
        Edit Prospect Information
    </a> &nbsp;/&nbsp;
    <a href="{{ sales_prospect_detail.get_absolute_url_calllog_index }}">
        Call Log Index
    </a> &nbsp;/&nbsp;
    <a href="{{ sales_prospect_detail.addsalescalllog }}">
        Add Call Log
    </a>

    <ul>
        <li>
            Sales Prospect Information Info
        </li>
        {% if sales_prospect_detail %}
        <li>
            {{ sales_prospect_detail }}
        </li>
        {% endif %}

        <li>
            Prospect Address:
        </li>
        {% if address_detail %}
        <li>
            {{ address_detail }}
        </li>
        {% else %}
        <li>
            No address info.
        </li>
        {% endif %}
        <li>
            Prospect Contact:
        </li>
        {% if contact_detail %}
        <li>
            {{ contact_detail }}
        </li>
        {% else %}
        <li>
            No contact information
        </li>
        {% endif %}
        <li>
    </ul>
{% else %}
        <p>No Sales Prospects are available.</p>
{% endif %}

{% endblock %}
