{% extends 'base.html' %}
{% load bootstrap_toolkit %}

{% block content %}
<a href="{% url 'Client:salesprospectindex' %}">
    Sales Home
</a> &nbsp;/&nbsp;
{% if calllog %}
    <a href="{% url 'Client:salescallloghome' %}">
        Sales Call Log Home
    </a> &nbsp;/&nbsp;
    <a href="{{ calllog.get_absolute_url_sales }}">
        Sales Prospect Details
    </a> &nbsp;/&nbsp;
    <a href="={{ calllog.get_absolute_url_index }}">
        Sales Prospect Call Log Index
    </a>
        {% comment %}
        {% if client_detail or business_client %}
            <a href="{% url 'site_info:details' client_detail.id %}">
         Client Site Information
            </a>
        {% endif %}
        {% endcomment %}
    <ul>
        <li>
            Call Log Details
        </li>
        {% if calllog %}
        <li>
            Client: {{ calllog.sales_id }}
        </li>
        <li>
            Call Date: {{ calllog.call_date }} {{ calllog.call_time }}
        </li>
        <li>
            Next Call Date: {{ calllog.next_contact }}
        </li>
        <li>
            Caller: {{ calllog.caller }}
        </li>
        <li>
            Purpose:
        </li>
         <textarea name="purpose" rows="3" cols="160" readonly>
            {{ calllog.purpose }}
        </textarea>
        <li>
            Notes:
        </li>
        <textarea name="notes" rows="10" cols="160" readonly>
            {{ calllog.notes }}
        </textarea>
        {% endif %}
    </ul>
{% else %}
        <p>No Sales Calls are available.</p>
{% endif %}

{% endblock %}
