{% extends 'common/__basewrap.html' %}
{% load mytags %}

{% block body_block %}
<body onload="initialize()" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block base_header %}
{% endblock %}

{% block base_content %}
    {% block form_breadcrumb %}
    <!-- Breadcrumb line -->
      <div class="container padded">
        <div class="row">
          <div id="breadcrumbs">
            <div class="breadcrumb-button blue">
              <span class="breadcrumb-label"><i class="icon-home"></i> Home</span>
              <span class="breadcrumb-arrow"><span></span></span>
            </div>
            <div class="breadcrumb-button">
              <span class="breadcrumb-label">
                <i class="fa fa-group"></i>
                  <a href="/client/index/">Client Home</a>
              </span>
              <span class="breadcrumb-arrow"><span></span></span>
            </div>
            <div class="breadcrumb-button">
              <span class="breadcrumb-label">
                <i class="fa fa-phone"></i>
                {{ called }} Call Home
              </span>
            </div>
          </div>
        </div>
      </div> <!-- container padded -->
    {% endblock form_breadcrumb %}
{% comment %}
    <div class="box">
      <div class="box-header">
          <span class="title">Gauges</span>
      </div>
      <div class="box-content padded" style="text-align: center">
          <div class="row">
              <div class="col-md-4">
          <div  id="eATME" style="width:200px; height:160px"></div>
          <script>
              var g = new JustGage({
                id: "eATME",
                value: 400,
                min: 350,
                max: 980,
                title: "Lone Ranger",
                label: "miles traveled"
              });
          </script>
                  </div>
              <div class="col-md-4">
          <div  id="eATME2" style="width:200px; height:160px"></div>
          <script>
              var g = new JustGage({
                id: "eATME2",
                value: 400,
                min: 350,
                max: 980,
                title: "Lone Ranger",
                label: "miles traveled"
              });
          </script>
                  </div>
              <div class="col-md-4">
                  <div class="spark-pie" style="width:160px; height:160px"
                          names = "Test1 Test2 Test 3 Test 4"
                          ></div>
                  <script>
                      //var q = new
                  </script>
              </div>
       </div>
    </div> <!-- box -->
{% endcomment %}
    <div class="row">
      <div class="col-md-12">
      <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            {{ called }} Call Log
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner padded">
              <div class="box">
              <div class="box-header">
                  <span class="title">Calls</span>
              </div>
                  <div class="box-content">
                    <div id="dataTables">
                    <table cellpadding="0" cellspacing="0" border="0" class="dTable responsive">
                        <thead>
                            <tr>
                              <th><div>{{ called }} Name</div></th>
                              <th><div>Call Date</div></th>
                              <th><div>Caller</div></th>
                              <th><div></div></th>
                            </tr>
                        </thead>
                        <tbody role="alert" aria-live="polite" aria-relavent="all">
                        {% if context %}
                          {% for e in context %}
                            <tr>
                              {% if identifier == 'Sales' %}
                                <td>{{ e.get_name }}</td>
                              {% else %}
                                <td>{{ e.get_name }}</td>
                              {% endif %}
                              <td class="sorting_1">{{ e.get_call_date_time }}</td>
                              <td>{{ e.caller }}</td>
                              <td>
                                  <div class="btn-group">
                                    <button class="btn btn-xs btn-default dropdown-toggle"
                                            data-toggle="dropdown"><i class="fa fa-cog"></i></button>
                                    <ul class="dropdown-menu">
                                      <li><a href="{{ e.get_absolute_url }}">Call Details</a></li>
                                      <li><a href="{{ e.get_absolute_url_edit }}">Edit Call</a></li>
                                      <li>
                                          {% if identifier == 'Sales' %}
                                            <a href="{{ e.get_absolute_url_sales }}">
                                          {% else %}
                                            <a href="{{ e.get_absolute_url_client }}">
                                          {% endif %}
                                              View {{ called }}
                                          </a>
                                      </li>
                                    </ul>
                                  </div>
                              </td>
                            </tr>
                          {% endfor %}
                          {% else %}
                          <tr>
                              <td>
                                  No Calls Available
                              </td>
                          </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    </div> <!-- dataTables -->
                  </div> <!-- box-contents -->
                  </div> <!-- box -->
              </div> <!-- accordian-inner-padded -->
            </div> <!-- collapse-one -->
        </div> <!-- accordion-body collapse in -->
      </div> <!-- accordion-group -->
    </div> <!-- accordion -->
  </div> <!-- col-md-12 -->
</div> <!-- row -->
{% endblock base_content%}
