<div class="row">
        <div class="col-lg-8">
            <ul class="padded separate-sections">
                {% if calllog_main %}
                <li>
                    <label>Name</label>: {{ calllog_main.get_name }}
                    <a href="{{ calllog_main.get_absolute_url_edit }}">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                </li>
                <li>
                    <label>Call Date</label>:
                    {{ calllog_main.call_date|date:"D d M Y" }}
                </li>
                <li>
                    <label>Call Time</label>:
                    {{ calllog_main.get_call_time }}
                </li>
                <li>
                   <label>Next Call Date</label>: {{ calllog_main.next_contact }}
                </li>
                <li>
                    <label>Caller</label>: {{ calllog_main.caller }}
                </li>
                <li>
                    <label>Follow Up Required</label>:
                    <b>{{ calllog_main.follow_up|yesno:"Yes,No,Maybe" }}</b>
                </li>
                <li>
                    <label>Purpose</label>
                </li>
                 <textarea name="purpose" readonly>
                    {{ calllog_main.purpose }}
                </textarea>
                <li>
                    <label>Notes</label>
                </li>
                <textarea name="notes" readonly>
                    {{ calllog_main.notes }}
                </textarea>
                {% else %}
                    <p>No Call Details Available.</p>
                {% endif %}
            </ul>
        </div> <!-- col-lg-6 -->
    </div> <!-- row -->