{% extends 'common/__form_base.html' %}
{% load mytags %}
{% block body_block %}
    <body onload="initialize()">
{% endblock %}
{% block form_header %}
{% include "common/mainheader_nograph.html" with icon="fa fa-group" title="Create Estimate" subtitle="Create Estimate" %}
{% endblock %}
{% block h4_block %}Create Estimate{% endblock h4_block %}
{% block form_breadcrumb %}
<!-- breadcrumb -->
<div class="container padded">
    <div class="row">
      <div id="breadcrumbs">
        <div class="breadcrumb-button blue">
          <span class="breadcrumb-label"><i class="icon-home"></i> Home</span>
          <span class="breadcrumb-arrow"><span></span></span>
        </div>
        <div class="breadcrumb-button">
          <span class="breadcrumb-label">
            <i class="fa fa-group"></i>
              <a href="/equipment/index/">Equipment Home</a>
          </span>
          <span class="breadcrumb-arrow"><span></span></span>
        </div>
        <div class="breadcrumb-button">
            <span class="breadcrumb-label">
                <i class="fa fa-phone"></i>
                Add Part
            </span>
        </div>
      </div>
    </div>
</div> <!-- container padded -->
{% endblock form_breadcrumb %}
{% block form_content %}
    <script>
//        $(document).ready(function() {
//            $("#id_part_id").change(function () {
//                alert('Handler for .change() called');
//            });
//        });
//        $(document).ready(function() {
//            $("#id_quantity").change(function () {
//                alert('Handler for .change() called');
//            });
//        });

        $(document).ready(function() {
            $("#id_quantity").change(function(){
                var cost = $("#idCost").text();
                var flat = $("#idFlat").text();
                var labor = $("#idLabor").text();
                var margin = $("#idMargin").text();
                var qty = $("#id_quantity").val();
                var estCost = cost * qty;
                $("#id_cost").val(cost);
                var finalCost = (cost/(1-margin));
                $("#id_final_cost").val(finalCost.toFixed(2));
                var subTotal = finalCost * qty;
                $("#id_sub_total").val(subTotal.toFixed(2));
                var profit = subTotal - estCost
                $("#id_profit").val(profit.toFixed(2));
                var totalLabor = qty * labor;
                $("#id_total_labor").val(totalLabor.toFixed(2));
                $("#id_flat_total").val(qty * flat)
                var tmp = margin * flat;
            });
        });
//        function showQty() {
//                    var qty = $("#id_quantity").val();
//                    var labor = $("#idLabor").text();
//                    var fc = $("#id_final_cost").val();
//                    alert('qty ' + qty + ' final cost' + fc);
//        };
        $('#id_part_id').change(
                function clearValues(){
            if($("$id_part_id").text() != '---------') {
                alert('this works!')
            };
        });

    </script>
    <input type="button" onclick="showQty()">
    <strong>
        Margin: <span id="idMargin">{{ estimate.margin }}</span>%
    </strong>
    {% for i in form0 %}
        <li>
            <label>{{ i.label|title|cut:"_" }}</label>
            {% if i.name = 'estimate_id' %}
                {{ i }}
                <strong>
                    Margin: <span id="idMargin">{{ estimate.margin }}%</span>
                    {{estimate_parts_client}}
                    {{ object }}
                </strong>
            {% elif i.name = 'part_id' %}
                {{ i }}
                <strong>
                Cost: $<span id="idCost">0</span><br/>
                Flat: $<span id="idFlat">0</span><br/>
                Labor: <span id="idLabor">0</span> hrs.<br/>
                </strong>
            {% else %}
                {{ i }}
            {% endif %}
        </li>
    {% endfor %}
    {% if estimate %}
        {{ estimate }}
    {% else %}
        No estimate
    {% endif %}
{% endblock %}