{% extends 'common/__form_base.html' %}
{% load mytags %}

{% block body_block %}
<body onload="initialize()" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block form_header %}
{% include "common/mainheader_nograph.html" with icon="fa fa-user" title="Add Ticket" subtitle="Add Ticket Information" %}
{% endblock %}

{% block form_breadcrumb %}
<div class="container padded">
    <div class="row">
      <div id="breadcrumbs">
        <div class="breadcrumb-button blue">
          <span class="breadcrumb-label"><i class="icon-home"></i> Home</span>
          <span class="breadcrumb-arrow"><span></span></span>
        </div>
        <div class="breadcrumb-button">
          <span class="breadcrumb-label">
            <i class="fa fa-user"></i>
              <a href="/work/ticketindex/">Ticket Home</a>
          </span>
          <span class="breadcrumb-arrow"><span></span></span>
        </div>
        <div class="breadcrumb-button">
            <span class="breadcrumb-label">
                <i class="fa fa-plus-square"></i>
                Add Ticket
            </span>
        </div>
      </div>
    </div>
</div> <!-- container padded -->
{% endblock form_breadcrumb %}

{% block h4_block %}Add Ticket{% endblock h4_block %}
{% block form_content %}
<label>Ticket:</label>
 {% for i in form0 %}
    <li class="input">
      <label>{{ i.label|title|cut:"_" }}</label>
        {{ i }}
    </li>
    {% endfor %}
    <!-- end Client Info -->
    <label>Ticket Notes:</label>
    {% for i in form1 %}
    <li>
        <label>{{ i.label|title|cut:"_" }}</label>
            {{ i }}
    </li>
    {% endfor %}
    <!-- end Address Info -->
    <label>Contact Information:</label>
    {{ form2 }}
{% endblock %}

