{% extends "common/__basewrap.html" %}
{% load mytags %}
{% load humanize %}
{% block body_block %}
{% endblock %}

{% block base_header %}
  {% include 'work/estimate/__header.html' with type_of='Client' estimate=estimate price=price profit=profit %}
{% endblock %}

{% block base_content %}
  {% block form_breadcrumb %}
    {% include "common/breadcrumbs/__home_home.html" with this_home="Client Estimates" %}
 {% endblock form_breadcrumb %}
 <div class="container">
     <div class="action-nav-normal action-nav-line">
         <div class="row action-nav-row">
            <div class="col-md-4">
            </div>
            <div class="col-sm-2 action-nav-button">
              <a href="/work/createestimate/" title="New Estimate">
                <i class="icon-file-alt"></i>
                <span>New Estimate</span>
              </a>
              <span class="triangle-button green"><i class="icon-plus"></i></span>
            </div>
            <div class="col-sm-2 action-nav-button">
              <a href="/equipment/index/" title="Part Index">
                <i class="icon-info-sign"></i>
                <span>Part Index</span>
              </a>
              <span class="triangle-button blue"><i class="icon-plus"></i></span>
            </div>
         </div>
     </div>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      var estimates = jQuery.parseJSON({{ estimate_list|safe }});
      var estimates_array = [['Job Name', 'Price', 'Profit', 'Commission']]
      for (var i = 0; i < estimates.length; i++) {
              estimates_array.push([estimates[i]["fields"]["job_name"],
                  parseFloat(estimates[i]["fields"]["listed_price"]),
                  parseFloat(estimates[i]["fields"]["listed_profit"]),
                  parseFloat(estimates[i]["fields"]["custom_sales_commission"])]);
            }

      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(estimates_array);

        var options = {
          title: 'Estimates Overview',
          hAxis: {title: 'Estimate', titleTextStyle: {color: 'blue'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
     <div class="row">
        <div class="col-md-12">
            <div id="chart_div" style="width: 100%; height: 80%;"></div>
        </div>
     </div>
    <div class="row">
        <div class="col-md-12">
            {% include "work/estimate/__estimate_table.html" with identifier="Client" estimate=estimate %}
        </div>
    </div>
 </div>
{% endblock base_content %}