{% extends 'common/__form_base.html' %}
{% load mytags %}
{% block body_block %}
    <body onload="initialize()">
{% endblock %}
{% block form_header %}
{% include "common/mainheader_nograph.html" with icon="fa fa-group" title="Create Estimate" subtitle="Create Estimate" %}
{% endblock %}
{% block h4_block %}Create Estimate{% endblock h4_block %}
{% block form_breadcrumb %}
<!-- breadcrumb -->
<div class="container padded">
    <div class="row">
      <div id="breadcrumbs">
        <div class="breadcrumb-button blue">
          <span class="breadcrumb-label"><i class="icon-home"></i> Home</span>
          <span class="breadcrumb-arrow"><span></span></span>
        </div>
        <div class="breadcrumb-button">
          <span class="breadcrumb-label">
            <i class="fa fa-group"></i>
              <a href="/equipment/index/">Client Home</a>
          </span>
          <span class="breadcrumb-arrow"><span></span></span>
        </div>
        <div class="breadcrumb-button">
            <span class="breadcrumb-label">
                <i class="fa fa-phone"></i>
                Create Part
            </span>
        </div>
      </div>
    </div>
</div> <!-- container padded -->
{% endblock form_breadcrumb %}
{% block form_content %}
    {% for i in form %}
        <li>
            <label>{{ i.label|title|cut:"_" }}</label>
            {% if i.name == 'notes' %}
                {{ i }}
                <span>Characters Remaining: </span>
                <span id="notes_span">
                    <script>document.write(get_remaining_char('id_notes'))</script>
                </span>
            {% else %}
                {{ i }}
            {% endif %}
        </li>
    {% endfor %}
{% endblock %}