{% extends "common/__basewrap.html" %}
{% load mytags %}
{% block base_header %}
<div class="container">
    <div class="row">
      <div class="area-top clearfix">
        <div class="pull-left header">
          <h3 class="title">
            <i class="icon-group"></i>
            Estimate Details Page
          </h3>
          <h5>
            <span>
              Estimate Details
            </span>
          </h5>
        </div>
        <ul class="list-inline pull-right sparkline-box">
          <li class="sparkline-row">
            <h4 class="blue"><span>Total Clients</span> 1 </h4>
          </li>
          <li class="sparkline-row">
            <h4 class="blue"><span>New Clients</span> 2 </h4>
          </li>
          <li class="sparkline-row">
            <h4 class="green"><span>Clients with Follow Ups</span> 4 </h4>
          </li>
        </ul>
      </div>
    </div>
</div>
{% endblock %}
{% block base_content %}
  {% block form_breadcrumb %}
  <!-- Breadcrumb line -->
  <div class="container padded">
    <div class="row">
      <div id="breadcrumbs">
        <div class="breadcrumb-button blue">
          <span class="breadcrumb-label"><i class="icon-home"></i> Home</span>
          <span class="breadcrumb-arrow"><span></span></span>
        </div>
        <div class="breadcrumb-button">
          <span class="breadcrumb-label">
            <i class="fa fa-group"></i>
              <a href="/work/clientestimateindex/">Estimate Home</a>
          </span>
          <span class="breadcrumb-arrow"><span></span></span>
        </div>
        <div class="breadcrumb-button">
            <span class="breadcrumb-label">
                <i class="fa fa-phone"></i>
                Estimate Details
            </span>
        </div>
      </div>
    </div>
  </div> <!-- container padded -->
  {% endblock form_breadcrumb %}
  <div class="container padded">
      <div class="row">
          <div class="col-md-3">
              <div class="action-nav-normal">
                  <div class="row action-nav-row">
                      <div class="col-sm-6 action-nav-button">
                          <a href="{% url 'Work:add_part' estimate.id %}" title="Add Part">
                          <i class="icon-check"></i>
                          <span>Add Part</span>
                              <span class="triangle-button blue">
                                  <i class="icon-plus"></i>
                              </span>
                          </a>
                      </div>
                      <div class="col-sm-6 action-nav-button">
                          <a href="{{ estimate.update_estimate }}" title="Update Price">
                          <i class="icon-check"></i>
                          <span>Update Price</span>
                              <span class="triangle-button blue">
                                  <i class="icon-plus"></i>
                              </span>
                          </a>
                      </div>
                  </div>
                  <div class="row action-nav-row">
                      <div class="col-sm-6 action-nav-button">
                          <a href="#" title="Add Part">
                          <i class="icon-check"></i>
                          <span>Add Part</span>
                              <span class="triangle-button blue">
                                  <i class="icon-plus"></i>
                              </span>
                          </a>
                      </div>
                      <div class="col-sm-6 action-nav-button">
                          <a href="#" title="Update Details">
                          <i class="icon-check"></i>
                          <span>Update Details</span>
                              <span class="triangle-button blue">
                                  <i class="icon-plus"></i>
                              </span>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-9">
            <div class="box">
                <div class="box-header">
                    <div class="title">
                        Estimate Statistics
                    </div>
                </div>
                <div class="box-content padded">
                  <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="dashboard-stats">
                             <ul class="list-inline">
                                 <li class="glyph">
                                    <i class="icon-bolt icon-2x"></i>
                                 </li>
                                 <li class="count">6969</li>
                             </ul>
                             <div class="progress">
                                 <div class="progress-bar>
                                 </div>
                             </div>
                             <div class="stats-label">Total Cost</div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="row" style="margin-top:30px">
                      <div class="col-md-6">
                          <!--<div class="dashboard-stats small">-->
                              <!--<ul>-->
                                  <!--<li class="count">8080</li>-->
                              <!--</ul>-->
                          <!--</div>-->
                          <div class="box content padded">
                          <div class="sine-chart" id="sineChart" style="height: 300">

                          </div>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
          </div>
      </div> <!-- row -->
      </div>
      <div class="container padded">
      <div class="row">
          <div class="col-md-5">
              <div class="box">
                  <div class="box-content">
                    <table class="table table-normal">
                        <tbody>
                            <tr>
                                <td bgcolor="#808080">
                                    Name
                                </td>
                                <td>
                                    {{ estimate.job_name }}
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#808080">
                                    Address
                                </td>
                                <td>
                                    {{ estimate.estimate_address }}
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#808080">
                                    Date
                                </td>
                                <td>
                                    {{ estimate.date }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                  </div> <!--box-content-->
              </div> <!--box-->
          </div> <!--col-->
          <!-- spacer -->
          <div class="col-md-1">
          </div>
          <div class="col-md-6">
            <div class="box">
                <div class="box-content">
                    <table class="table table-normal">
                        <tbody>
                            <tr>
                                <td bgcolor="#808080" style="width: 40px">
                                    <strong>Margin</strong>
                                </td>
                                <td>
                                    {{ estimate.margin|to_percent }}<span>%</span>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#808080" style="width: 40px">
                                    Guidelines
                                </td>
                                <td style="height: 68px">
                                    {{ estimate.margin_guidelines }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--box-content-->
            </div><!--box-->
          </div> <!--col-->
      </div> <!--row-->
      <!-- ROW 2 -->
      <div class="row">
        <div class="col-md-12">
          {% include "work/__estimate_table.html" with title="Estimate" context=parts context2=estimate %}
        </div>
      </div><!-- ROW -->
      <!-- ROW 3 -->
      <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <span class="title">
                        Estimate Details
                    </span>
                </div> <!-- box-header -->
                <div class="box-content hpadded">
                    <strong>Client</strong>
                        <li>
                            {{ estimate.estimate_client }}
                        </li>
                    <strong>Job Name</strong>
                        <li>
                            {{ estimate.job_name }}
                        </li>
                    <strong>Address</strong>
                        <li>
                            {{ estimate.estimate_address }}
                        </li>
                    <strong>Date</strong>
                        <li>
                            {{ estimate.date }}
                        </li>
                    <strong>Preparer</strong>
                        <li>
                            {{ estimate.preparer }}
                        </li>
                    <strong>Cost</strong>
                        <li>
                            {{ estimate.cost }}
                        </li>
                    <strong>Estimate is Capital Improvement</strong>
                        <li>
                            {{ estimate.is_capital_improvement }}
                        </li>
                    <strong>Total Cost</strong>
                        <li>
                            {{ estimate.total_cost }}
                        </li>
                    <strong>Total Price</strong>
                        <li>
                            {{ estimate.total_price }}
                        </li>
                    <strong>Total Profit</strong>
                        <li>
                            {{ estimate.total_profit }}
                        </li>
                    <strong>Total Flat Rate</strong>
                        <li>
                            {{ estimate.total_flat_rate }}
                        </li>
                    <strong>Listed Price</strong>
                        <li>
                            {{ estimate.listed_price }}
                        </li>
                    <strong>List Profit</strong>
                        <li>
                            {{ estimate.listed_profit }}
                        </li>
                    <strong>Sales Commission</strong>
                        <li>
                            {{ estimate.sales_commission }}
                        </li>
                    <strong>Labor</strong>
                        <li>
                            {{ estimate.labor }}
                        </li>
                    <strong>Prevaling Wage</strong>
                        <li>
                            {{ estimate.prevaling_wage }}
                        </li>
                    <strong>Margin</strong>
                        <li>
                            {{ estimate.margin|to_percent }}
                        </li>
                    <strong>Margin Guidelines</strong>
                        <li>
                            {{ estimate.margin_guidelines }}
                        </li>
                </div> <!-- box-content -->
            </div> <!-- box -->
        </div> <!-- col-md-4 -->
      </div> <!-- row -->
  </div> <!-- container -->

{% endblock %}