<div class="box-content scrollable" style="height: {% block height %}{% endblock %}; overflow-y: auto">
                              <div class="box-content">
                                  <table class="table table-normal">
                                      <tbody>

                                            {% for b in billing_detail %}
                                                <tr>
                                                    <td>
                                                        Name:
                                                    </td>
                                                    <td>
                                                        <a href="b.get_absolute_url_edit">
                                                            {{ b }}
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                      </tbody>
                                  </table>
                              </div>
                          </div>