{% load mytags %}
{% load humanize %}
{% load mytags %}
<div class="box">
  <div class="box-header">
      <span class="title">{{ title }}</span>
  </div>
      <div class="box-content">
        <div id="dataTables">
            <table cellpadding="0" cellspacing="0" border="0" class="dTable responsive">
            <thead>
            {% comment %}
            <tr>
                <td class="estimate-td">
                    <strong>
                        <span class="black-font">
                        Name
                        </span>
                    </strong>
                </td>
                <td>
                    {{ estimate.job_name }}
                </td>
            </tr>
            <tr>
                <td bgcolor="#808080">
                    Address
                </td>
                <td>
                    {{ estimate.estimate_address }}
                </td>
            </tr>
            <tr>
                <td bgcolor="#808080">
                    Date
                </td>
                <td>
                    {{ estimate.date }}
                </td>
            </tr>
            <tr>
            {% endcomment %}
              <td><div>Part #</div></td>
                <td><div>Name</div></td>
                <td style="width: 65px"><div>Cost</div></td>
                <td style="width: 20px">Margin</td>
                <td style="width: 20px">Final Cost</td>
                <td style="width: 20px">Flat Price</td>
                <td style="width: 20px">Labor</td>
                <td style="width: 20px">Qty</td>
                <td style="width: 20px">Total Cost</td>
                <td style="width: 20px">Sub Total</td>
                <td style="width: 25px">Profit</td>
                <td style="width: 20px">Flat total</td>
                <td style="width: 20px">Total Labor</td>
                <td style="width: 20px">Notes</td>
            </tr>
            </thead>
                <tbody role="alert" aria-live="polite" aria-relavent="all">
                {% for e in context %}
                    <tr>
                      <td >
                          <a href="{% url 'Work:updatepart' estimate.id  e.part_id.id %}">
                          {{ e.part_id.number }}
                          </a>
                      </td>
                      <td>
                          {{ e.part_id.name }}
                      </td>
                      <td>
                        {{ e.part_id.cost|intcomma }}
                      </td>
                      <td>
                          {{ context2.margin|to_percent }}%
                      </td>
                      <td>
                          {{ e.final_cost|intcomma }}
                      </td>
                      <td>
                          {{ e.part_id.flat_price|intcomma }}
                      </td>
                      <td>
                          {{ e.part_id.labor }}
                      </td>
                      <td>
                          {{ e.quantity }}
                      </td>
                      <td>
                          {{ e.cost|intcomma }}
                          {# cost object on estimate parts #}
                      </td>
                      <td>
                          {{ e.sub_total|intcomma }}
                      </td>
                      <td>
                          {{ e.profit|intcomma }}
                      </td>
                      <td>
                          {{ e.flat_total|intcomma }}
                      </td>
                      <td>
                          {{ e.total_labor }}
                      </td>
                      <td>
                          <a href="#">
                              <i class="fa fa-info-circle"></i>
                          </a>
                      </td>
                    </tr>
                {% endfor %}
                {# summary of estimate #}
                </tbody>
                <tfoot>
                <tr>
                    <td></td>
                    <td>
                        Cost of System {# Sum of cost of all parts in estimate #}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ estimate.total_cost }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        Price of System
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td> {{ estimate.total_price }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        Total Profit
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <span style="color:
                        {% if estimate.total_profit < 0 %}
                            red
                        {% else %}
                            green
                        {% endif %}
                        ">
                        ${{ estimate.total_profit|negative_decorator }}
                        </span>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        Flat Rate Price
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>${{ estimate.total_flat_rate }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        Total Labor
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ estimate.labor }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        Sales Commission
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>${{ estimate.sales_commission }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="{{ estimate.update_estimate }}">
                            Listed Price
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="{{ estimate.update_estimate }}">
                            ${{ estimate.listed_price }}
                        </a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        Listed Profit
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <span style="color:
                        {% if estimate.listed_profit < 0 %}
                            red
                        {% else %}
                            green
                        {% endif %}
                        ">
                        ${{ estimate.listed_profit|negative_decorator }}
                        </span>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        Sales Commission
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>${{ estimate.custom_sales_commission }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        </div>
      </div>
</div>