<div class="container">
    <div class="row">
      <div class="area-top clearfix">
        <div class="pull-left header">
          <h3 class="title">
            <i class="icon-group"></i>
            {{ type_of }} Estimate Index
          </h3>
          <h5>
            <span>
              {{ type_of }} Estimate Landing Page
            </span>
          </h5>
        </div>
        <ul class="list-inline pull-right sparkline-box">
          <li class="sparkline-row">
            <h4 class="blue"><span>Total Estimates</span> {{ estimate|length }} </h4>
          </li>
          <li class="sparkline-row">
            <h4 class="blue"><span>Total Price</span> {{ price }} </h4>
          </li>
          <li class="sparkline-row">
            <h4 class="
                {% if profit > 0 %}
                    green
                {% else %}
                    red
                {% endif %}
            "><span>Total Profit</span> {{ profit }} </h4>
          </li>
        </ul>
      </div>
    </div>
</div>