{% extends 'common/__basewrap.html' %}
{% load humanize %}
{% block body_block %}
{% endblock %}
{% block base_header %}
<!-- Header for container -->
  <div class="container">
    <div class="row">
      <div class="area-top clearfix">
        <div class="pull-left header">
          <h3 class="title">
            <i class="icon-group"></i>
            Employee Details
          </h3>
          <h5>
            <span>
              Detailed Employee Information
            </span>
          </h5>
        </div>
        <ul class="list-inline pull-right sparkline-box">
          <li class="sparkline-row">
            <h4 class="blue"><span>Systems</span> 1 </h4>
          </li>
          <li class="sparkline-row">
            <h4 class="red"><span>Invoices</span> 7</h4>
          </li>
        </ul>
      </div>
    </div>
  </div> <!-- container -->
{% endblock base_header %}

{% block base_content %}
  {% block form_breadcrumb %}
  <!-- Breadcrumb line -->
  <div class="container padded">
    <div class="row">
      <div id="breadcrumbs">
        <div class="breadcrumb-button blue">
          <span class="breadcrumb-label"><i class="icon-home"></i> Home</span>
          <span class="breadcrumb-arrow"><span></span></span>
        </div>
            <div class="breadcrumb-button">
              <span class="breadcrumb-label">
                <i class="fa fa-group"></i>
                  <a href="/employee/index/">Employee Home</a>
              </span>
              <span class="breadcrumb-arrow"><span></span></span>
            </div>
            <div class="breadcrumb-button">
                <span class="breadcrumb-label">
                    <i class="icon-th-large"></i>
                    Employee Details
                </span>
            </div>
      </div>
    </div>
  </div> <!-- container padded -->
  {% endblock form_breadcrumb %}
  <!-- Main content -->
  <div class="container">
      <!-- 1st row Details, system, camera, sites   -->
    <div class="row">
      <div class="col-md-6">
        {% include 'employee/__employee_info_table.html' %}
      </div>
      <!-- second column -->
      <div class="col-md-6">
          <!-- Alarm/Camera -->
          <div class="row">
              <div class="col-md-12">
                <!-- Employee Jobs -->
                {% include 'client/__client_system_table.html' %}
              </div>
          </div>
          <!-- Employee Work -->
          <div class="row">
              <div class="col-md-12">
                {% include 'client/__client_camera_table.html' %}
              </div>
          </div>
      </div>
    </div> <!-- end first container row -->
    <!-- 2nd row Left Column -->
      <div class="row">
          <div class="col-md-6">
            {% include 'common/__calllog.html' with context=client_calls context1=client_calls_follow name_of="Client" %}
          </div>
          <!-- 2nd Row Right Column -->
          <div class="col-md-6">
              {% include 'common/__calllog.html' with context=sales_calls context1=sales_calls_follow name_of="Sales" %}
          </div> <!-- col-md-6 -->
      </div> <!-- row -->
  </div> <!-- containter -->

{% endblock base_content %}
