<div class="container padded">
    <div class="row">
      <div id="breadcrumbs">
        <div class="breadcrumb-button blue">
          <span class="breadcrumb-label"><i class="icon-home"></i> Home</span>
          <span class="breadcrumb-arrow"><span></span></span>
        </div>
            <div class="breadcrumb-button">
              <span class="breadcrumb-label">
                <i class="fa fa-group"></i> {{ this_home }}
              </span>
              <span class="breadcrumb-arrow"><span></span></span>
            </div>
      </div>
    </div>
</div> <!-- container padded -->