/* line 3, ../sass/thumbnails.scss */
.thumbnails {
  list-style: none;
  *zoom: 1;
}
/* line 24, ../sass/mixin_helpers.scss */
.thumbnails:before, .thumbnails:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 30, ../sass/mixin_helpers.scss */
.thumbnails:after {
  clear: both;
}
